---
layout: minimal
title: "About"
permalink: /about/index.html
description: "whoami"
---

<img itemprop="image" class="img-rounded" src="/assets/img/efstathios-iosifidis.jpg" alt="Efstathios Iosifidis">

    <h1 style="color: #333;">Efstathios Iosifidis</h1>
    <p>Jr Project Manager, Jr Business Analyst</p>
    <p>With a background in veterinary medicine and a current focus on Applied Informatics, I bring a diverse skill set and a unique perspective to my role as a Junior Project Manager, ensuring efficient project execution through strong organizational skills and attention to detail.</p>

    <div class="contact-info" style="margin-bottom: 20px;">
        <p>Phone: +30 6999311075</p>
        <p>Email: <a href="mailto:eiosifidis@gmail.com" style="color: #0073b1; text-decoration: none;">eiosifidis@gmail.com</a></p>
        <p>Website: <a href="http://iosifidis.gr" target="_blank" style="color: #0073b1; text-decoration: none;">http://iosifidis.gr</a></p>
        <p>GitHub: <a href="https://github.com/iosifidis" target="_blank" style="color: #0073b1; text-decoration: none;">iosifidis</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/eiosifidis/" target="_blank" style="color: #0073b1; text-decoration: none;">Efstathios Iosifidis</a></p>
    </div>

    <h2 style="color: #333;">Work Experience</h2>
    <div class="experience" style="margin-bottom: 20px;">
        <h3 style="color: #333;">Netcompany-Intrasoft, Thessaloniki, Greece</h3>
        <p><strong>Business Analyst Intern</strong> (11/2023 - 01/2024)</p>
        <ul>
            <li>Analysis of code and functionalities of existing systems with the ultimate goal of capturing subsequent functional specifications and business processes</li>
        </ul>
        
        <h3 style="color: #333;">myUoM (https://my.uom.gr/), Thessaloniki, Greece</h3>
        <p><strong>Project Manager</strong> (07/2022 - 09/2022)</p>
        <ul>
            <li>Collaborated closely with Open Source UoM team developers to create a comprehensive application for students (project still developing)</li>
            <li>Actively participated as a developer alongside project management responsibilities</li>
            <li>Communication with stakeholders</li>
        </ul>
        
        <h3 style="color: #333;">Veterinarian, Thessaloniki, Greece</h3>
        <p><strong>Veterinarian Pathologist</strong> (03/2017 - present)</p>
        <ul>
            <li>Expertise in diagnosing and treating animal diseases, conducting laboratory analyses, and providing comprehensive veterinary care</li>
        </ul>
    </div>

    <h2 style="color: #333;">Education</h2>
    <div class="education" style="margin-bottom: 20px;">
        <h3 style="color: #333;">University of Macedonia, Thessaloniki, Greece</h3>
        <p><strong>Applied Informatics - Information System</strong> (2020 - 2024)</p>
        
        <h3 style="color: #333;">Aristotle University of Thessaloniki, Thessaloniki, Greece</h3>
        <p><strong>Doctor of Veterinary Medicine</strong> (2004 - 2017)</p>
    </div>

    <h2 style="color: #333;">Volunteer Experience</h2>
    <div class="volunteer" style="margin-bottom: 20px;">
        <h3 style="color: #333;">Google Developer Student Club Lead, University of Macedonia</h3>
        <p>(2023 - 2024)</p>

        <h3 style="color: #333;">KDE Akademy organizing committee</h3>
        <p>(Oct 2022 - July 2023) <a href="https://akademy.kde.org/2023/" target="_blank" style="color: #0073b1; text-decoration: none;">KDE Akademy</a> is the annual conference of the KDE community</p>

        <h3 style="color: #333;">Open Source Team UoM founder</h3>
        <p>(Nov 2021 - present) <a href="https://opensource.uom.gr/" target="_blank" style="color: #0073b1; text-decoration: none;">Open Source Team UoM</a></p>

        <h3 style="color: #333;">FOSSCOMM organizing committee</h3>
        <p>(Nov 2021) <a href="https://2021.fosscomm.gr" target="_blank" style="color: #0073b1; text-decoration: none;">FOSSCOMM 2021</a> - An annual conference organized by Greek Free/Open Source Software communities</p>

        <h3 style="color: #333;">Google Summer of Code Mentor</h3>
        <p>(Mar 2019 - Aug 2019) <a href="https://summerofcode.withgoogle.com/" target="_blank" style="color: #0073b1; text-decoration: none;">Google Summer of Code</a> - The missing features of NextCloudPi: Automatic installation and integration of several apps on NextCloudPi and implementation of new features and options</p>

        <h3 style="color: #333;">GUADEC organizing committee</h3>
        <p>(Aug 2019) <a href="https://2019.guadec.org" target="_blank" style="color: #0073b1; text-decoration: none;">GUADEC 2019</a> - The GNOME Users And Developers European Conference is an annual conference taking place in Europe</p>

        <h3 style="color: #333;">Open source community contributor</h3>
        <p>(2010 - present) - GNOME, KDE, Ubuntu, openSUSE, Fedora, ONLYOFFICE, Nextcloud, GNU Health, ownCloud</p>
    </div>

    <h2 style="color: #333;">Awards and Certifications</h2>
    <div class="awards" style="margin-bottom: 20px;">
        <ul>
            <li>University of Macedonia Gender Equality and Anti-Discrimination Committee Member (Apr 2023 - Present)</li>
            <li>Student Representative in the Assembly and Deanery (Jan 2023 - Dec 2023)</li>
            <li>Award for best app in Mobile Application Development (Sept 2023)</li>
            <li>Honored for admission to the university with the highest grade in exams from evening vocational high school (Sept 2020)</li>
            <li>CyberOps Associate (Cisco)</li>
            <li>Basic principles of digital marketing (Google)</li>
            <li>Gamification as a tool for health professionals for psychosomatic support of patients (ERASMUS +)</li>
            <li>Official member of the open source community: openSUSE, Ubuntu, Fedora, GNOME, Nextcloud, ONLYOFFICE</li>
        </ul>
    </div>

    <h2 style="color: #333;">Projects</h2>
    <div class="projects" style="margin-bottom: 20px;">
        <ul>
            <li>mySystemHealth (Aug 2023 - present) - Streamlined script for updating Fedora and openSUSE GNU/Linux systems. <a href="https://github.com/iosifidis/mySystemHealth" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
            <li>Physio+ (Mar 2023 - Jun 2023) - An android application for physiotherapists. <a href="https://github.com/Physio-plus-org" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
            <li>myUoM (Jul 2022 - Sep 2022) - Interactive info system for student-Uni interaction. <a href="https://github.com/open-source-uom/myuom" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
            <li>Firetell (Mar 2022 - Jun 2022) - Hybrid AI models with ML, big data, and IoT for forest fire prediction and management. <a href="https://github.com/Firetell" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
            <li>Animal Shelter Manager livecd (May 2012 - Aug 2012) <a href="https://github.com/iosifidis/asm" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
            <li>PCLinuxOS Medical livecd (Nov 2011 - Dec 2011) <a href="https://github.com/iosifidis/pclosmedical" target="_blank" style="color: #0073b1; text-decoration: none;">GitHub</a></li>
        </ul>
    </div>

    <h2 style="color: #333;">Organizational / Communication Skills</h2>
    <div class="org-comm" style="margin-bottom: 20px;">
        <p>Public Speaking, Leadership, Decisionmaking, Team Player, Project Coordination</p>
    </div>

    <h2 style="color: #333;">Technical Skills</h2>
    <div class="skills" style="margin-bottom: 20px;">
        <p>BPMN, DMN, GANTT, UML, SCRUM, Linux, Git, Docker, Python, C, SQL, PHP, Java, JS, Networking.</p>
    </div>

    <div class="footer" style="margin-bottom: 20px;">
        <p>Links:</p>
        <ul>
            <li><a href="https://2021.fosscomm.gr" target="_blank" style="color: #0073b1; text-decoration: none;">FOSSCOMM 2021</a></li>
            <li><a href="https://summerofcode.withgoogle.com/archive/2019/projects/4665244645851136" target="_blank" style="color: #0073b1; text-decoration: none;">Google Summer of Code 2019</a></li>
            <li><a href="https://2019.guadec.org" target="_blank" style="color: #0073b1; text-decoration: none;">GUADEC 2019</a></li>
            <li><a href="https://www.credly.com/badges/460b76d9-0f9f-4d99-889d-1d2f6c24dd4a/embedded" target="_blank" style="color: #0073b1; text-decoration: none;">Cisco CyberOps Associate</a></li>
            <li><a href="https://github.com/iosifidis/mySystemHealth" target="_blank" style="color: #0073b1; text-decoration: none;">mySystemHealth GitHub</a></li>
            <li><a href="https://github.com/Physio-plus-org" target="_blank" style="color: #0073b1; text-decoration: none;">Physio+ GitHub</a></li>
            <li><a href="https://github.com/open-source-uom/myuom" target="_blank" style="color: #0073b1; text-decoration: none;">myUoM GitHub</a></li>
            <li><a href="https://github.com/Firetell" target="_blank" style="color: #0073b1; text-decoration: none;">Firetell GitHub</a></li>
            <li><a href="https://github.com/iosifidis/asm" target="_blank" style="color: #0073b1; text-decoration: none;">Animal Shelter Manager GitHub</a></li>
            <li><a href="https://github.com/iosifidis/pclosmedical" target="_blank" style="color: #0073b1; text-decoration: none;">PCLinuxOS Medical GitHub</a></li>
        </ul>
    </div>
